Source: conanim
Section: utils
Priority: optional
Maintainer: Maksim Trukhin <trukhinmaksimof@proton.me>
Build-Depends: debhelper-compat (= 12), cmake, g++, libncurses-dev
Standards-Version: 4.5.0

Package: conanim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ffmpeg, jp2a, libncurses6 | libncurses5
Description: (Experimental build)
Simple program, that can convert video file into ASCII animation and play it in the terminal 